{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'img/logo/logo.png'%}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Sign Up | SPK ITC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
<div id="particles-js"></div>
<div class="bg1"></div>
<div class="bg2"></div>
<div class="signup-form">
    <form method="post" >
        {% csrf_token %}
        <img src="{% static '/img/itc.png' %}" alt="logo itc" style="width: 200px;">
        <div class="bagian">
            <div class="bagian1">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required" style="background-color: transparent;">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="nim" placeholder="NIM" required="required" style="background-color: transparent;">
                </div>
                <div class="form-group">
                    <select class="form-control" name="prodi" required="required" style="background-color: transparent;">
                        <option value="Teknik Informatika">Teknik Informatika</option>
                        <option value="Sistem Informasi">Sistem Informasi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="semester" placeholder="Semester" required="required" style="background-color: transparent;">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="alamat" placeholder="Alamat" required="required" style="height: 136px; text-transform: capitalize; background-color: transparent;"></textarea>
                </div>
            </div>
    
            <div class="bagian2">
                <div class="form-group">
                    <select class="form-control" name="jk" required="required" style="background-color: transparent;">
                        <option value="Laki-Laki" style="background-color: transparent;">Laki-Laki</option>
                        <option value="Perempuan" style="background-color: transparent;">Perempuan</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="nomor_hp" placeholder="Nomor Hp" required="required" style="background-color: transparent;">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" required="required" style="background-color: transparent;">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password1" placeholder="Password" required="required" style="background-color: transparent;">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required="required" style="background-color: transparent;">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </div>
                <span>Sudah punya akun? <a href="{% url 'signin' %}">Sign In</a> atau ke <a href="{% url 'index' %}">Home</a></span>
            </div>
        </div>
  
    </form>
</div>

<audio src="{% static 'audio/sound1.mp3' %}" autoplay></audio>

<!-- script -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 110,
                "density": {
                    "enable": true,
                    "value_area": 600
                }
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 5,
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 6,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "repulse"
                },
                "onclick": {
                    "enable": true,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 400,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });
</script>
<!-- audio play -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Mendapatkan elemen audio
        var audio = document.querySelector('audio');

        // Memainkan audio ketika ada interaksi pengguna
        document.addEventListener('click', function() {
            if (audio.paused) {
                audio.play();
            }
        });

        // Mengulang pemutaran audio
        audio.addEventListener('ended', function() {
            this.currentTime = 0;
            this.play();
        }, false);
    });
</script>

</body>
</html>

