body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #06173B, #000a1f);
    color: white;
    font-family: "Sora", sans-serif;
}
.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    padding: 20px;
}
.signup-form h2 {
    color: #fff;
}
.signup-form .form-group {
    margin-bottom: 20px;
    width: 100%;
}
.signup-form .form-control {
    background: transparent;
    color: #c0c0c0;
    border-color: #aeaeae8e;
}
.signup-form .form-control:focus {
    border-color: #7128e5;
    box-shadow: 1px 1px 10px #7128e5 ;
}
.signup-form .btn {
    background: #7128e5;
    border: none;
}
.signup-form .btn:hover {
    background: #e0044a;
}
section{
    padding: 22px 18px;
    backdrop-filter: blur(12px) saturate(147%);
    -webkit-backdrop-filter: blur(12px) saturate(147%);
    background-color: rgba(17, 25, 40, 0.44);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
section span{
    color: #ffffffb1;
    font-size: 13px;
}
section span:hover{
    color: #ffffff;
}
section span a:hover{
    color: #e0044a;
}
section img{
    padding-bottom: 30px;
}
.bagian{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 20px;
}
.bagian1{
    width: 100%;
    backdrop-filter: blur(14px) saturate(147%);
    -webkit-backdrop-filter: blur(14px) saturate(147%);
    background-color: rgba(17, 25, 40, 0.44);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 24px;
    color: white;
}
.bagian2{
    box-shadow: 1px 1px 20px #9e5eff;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.bagian2 a{
   padding: 8px 24px;
   color: white;
   border-radius: 6px;
   background-color: #5f09e1;
   text-decoration: none;
}
.bagian2 a:hover{
    background-image:linear-gradient(to left,#7F27FF,#ff276b);
    box-shadow: 3px 3px 30px #e0044a;
    animation: moveBackground 2s infinite;
    transition: 5s ease-in-out; 
}
@keyframes moveBackground {
    0% {
        background-image:linear-gradient(40deg,#7F27FF,#ff276b);
    }
    20% {
        background-image:linear-gradient(45deg,#7F27FF,#ff276b);
    }
    40% {
        background-image:linear-gradient(48deg,#7F27FF,#ff276b);
    }
    60% {
        background-image:linear-gradient(50deg,#7F27FF,#ff276b);
    }
    80% {
        background-image:linear-gradient(60deg,#7F27FF,#ff276b);
    }
    100% {
        background-image:linear-gradient(70deg,#7F27FF,#ff276b);
    }
}
.bagian2 h3{
   font-weight: 600;
   margin-top: -8px;
   margin-bottom: 20px;
}

.bg1{
    background-color: #7128e5;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    width: 330px;
    height: 330px;
    position: absolute;
    top: 20%;
    right: 50%;
    border-radius: 50%;
    box-shadow: 5px 5px 100px #e0044a;
    animation: zoom1 6s infinite ease-in-out;
}
.bg2{
    background-color: #e0044a;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    width: 330px;
    height: 330px;
    position: absolute;
    top: 38%;
    right: 30%;
    border-radius: 50%;
    box-shadow: 5px 5px 100px #5f09e1;
    animation: zoom2 6s infinite ease-in-out;
}
@keyframes zoom1 {
    0%, 100% {
        transform: scale(1) translate(-10%, -40%);
    }
    50% {
        transform: scale(1.1) translate(10%, 60%);
    }
}

@keyframes zoom2 {
    0%, 100% {
        transform: scale(1) translate(-10%, 40%);
    }
    50% {
        transform: scale(1.1) translate(20%, -60%);
    }
}

.keterangan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.keterangan .ket1 h4{
    font-weight: 600;
    color: #e0044a;
}
.keterangan .ket1 p{
    font-weight: 600;
    color: #ff74a0;
}
.keterangan .ket2 img{
    width: 200px;
}
td{
    text-transform: capitalize;
}