body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #06173B, #000a1f);
    color: #fff;
    font-family: "Sora", sans-serif;
}
.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 20px;
}
.signup-form h2 {
    color: #fff;
}
.signup-form .form-group {
    margin-bottom: 20px;
    width: 100%;
}
.signup-form .form-control {
    background: transparent;
    color: #c0c0c0;
    border-color: #aeaeae8e;
    text-transform: capitalize;
}
.signup-form .form-control:focus {
    border-color: #7128e5;
    box-shadow: 1px 1px 10px #7128e5 ;
}
.signup-form .btn {
    background: #7128e5;
    border: none;
}
.signup-form .btn:hover {
    background: #e0044a;
}
form{
    padding: 22px 18px;
    backdrop-filter: blur(12px) saturate(147%);
    -webkit-backdrop-filter: blur(12px) saturate(147%);
    background-color: rgba(17, 25, 40, 0.44);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;
}
form img{
    padding-bottom: 30px;
}
form input{
    background-color: transparent;
}

.bagian{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.bagian1{
    width: 100%;
}
.bagian2{
    width: 100%;
    color: white;
    background-color: transparent;
}
.bagian2 span{
    color: white;
}

.bg1{
    background-color: #7128e5;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    width: 330px;
    height: 330px;
    position: absolute;
    top: 20%;
    right: 50%;
    border-radius: 50%;
    box-shadow: 5px 5px 100px #e0044a;
    animation: zoom1 6s infinite ease-in-out;
}
.bg2{
    background-color: #e0044a;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    width: 330px;
    height: 330px;
    position: absolute;
    top: 38%;
    right: 30%;
    border-radius: 50%;
    box-shadow: 5px 5px 100px #5f09e1;
    animation: zoom2 6s infinite ease-in-out;
}
@keyframes zoom1 {
    0%, 100% {
        transform: scale(1) translate(-10%, -40%);
    }
    50% {
        transform: scale(1.1) translate(10%, 60%);
    }
}

@keyframes zoom2 {
    0%, 100% {
        transform: scale(1) translate(-10%, 40%);
    }
    50% {
        transform: scale(1.1) translate(20%, -60%);
    }
}